@import '../abstract/_var'

.banner
    padding-top: 13rem
    .container
        img
            width: $max-size
        h1
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            color: $font-color-over
            text-align: center
            font-family: $second-font
            font-size: 3rem
