@import '../abstract/_var'

footer
    width: 100%
    background-color: $second-section-color
    color: $font-color
    width: $max-size
    .container
        .footer-container
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            padding: 4rem
            .footer-col
                flex-direction: column
                h4
                    font-weight: 700
                    font-size: 1.2rem
                    padding: .4rem
                p
                    margin-top: .5rem
                    i
                        padding-right: .5rem
                .footer-social
                    display: flex
                    flex-flow: row nowrap
                    justify-content: space-evenly
                    gap: 1rem
                    a
                        color: $font-color
                        font-size: 1.6rem
                        margin-top: .5rem
                        scale: 1
                        &:hover
                            scale: 1.4
                            color: $hover-color
            .creator
                display: flex
                align-items: flex-start
                img
                    width: 10%
                h4
                    margin: .8rem
                    font-weight: 700
                    font-size: 1.2rem
                    a
                        color: $font-color

@media screen and (max-width: 1024px)

    footer
        max-width: $tablet-size
        width: 100%

        .container
            .footer-container
                padding: 1rem
                justify-content: space-between

@media screen and (max-width: 768px)
    footer
        .container
            justify-content: center
            align-items: center
            .footer-container
                display: flex
                flex-flow: row
                padding: 1rem 0rem 2rem 1rem
                gap: 0
                .footer-social
                    justify-content: flex-start

@media screen and (max-width: 632px)
    footer
        .container
            justify-content: center
            align-items: center
            align-content: center
            text-align: center
            .footer-container
                display: flex
                flex-flow: column
                .footer-social
                    padding: 2rem 0
                    i
                        align-self: center
                        font-size: 3rem
                .creator
                    padding-top: 2rem
                    align-self: center
