@import '../abstract/_var'

#localizacao
    background: white
    display: flex
    justify-content: center
    padding: 1rem 1rem
    margin-bottom: 2rem
    .container
        width: 100%
        align-self: flex-start
        h2
            padding-bottom: 2rem
            font-size: 2rem
        iframe
            width: 100%
            margin-right: 1rem