@import '../abstract/_var'

#servicos
    
    h2
        font-weight: 700
        font-size: 2.2rem
        padding: 3.5rem 0rem 1rem 8rem
    
    .container
        padding: 1rem
        margin: 2rem
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly
        box-shadow: 0rem 0rem .5rem .005rem rgba(0, 0, 0, 0.2) 

        img
            width: 35%
            border-radius: 1rem
        .service
            
            h3
                font-size: 1.8rem
                text-align: center
                font-weight: 700
                padding: 2rem 0 3rem  0
            ul
                width: 400px
                list-style-type: disc
                display: flex
                flex-flow: column
                gap: 1.2rem
                li
                    text-align: left
                    font-weight: 500
                    font-size: 1.4rem
                    gap: 5rem


    .reverse
        display: flex
        flex-flow: row-reverse nowrap        
    