@import url('../abstract/_var')

#equipe
    .bg
        background: $second-section-color
    
    h2
        font-weight: 700
        font-size: 2.2rem
        padding: 3.5rem 0rem 1rem 8rem

    .container
        padding: 1rem
        margin: 2rem
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly
        .profile
            display: flex
            flex-flow: column nowrap
            align-items: center

            img
                padding: 0 1rem 1rem 1rem        
                border-radius: 1.4rem
            
            .info
                justify-content: space-evenly
                .name
                    font-weight: 700
                    font-size: 1.5rem
                    padding-bottom: .5rem
                .roles
                    display: flex
                    flex-flow: column nowrap
                    align-items: center
                    li
                        padding: .2rem
                        font-size: 1.2rem
                        .contratar
                            margin: 1.8rem
                            padding: 1rem
                            border-radius: 10%
                            background: $dark-button-color
                            a
                                color: $font-color-second
                                &:hover
                                    text-shadow: 0rem 0.1rem 0.2rem $font-color-second

                    
                
