@import '_var'

*
    padding: 0
    margin: 0
    text-decoration: none

body
    #servicos, #equipe, #contato
        padding-top: 6.5rem
        margin-top: -6.5rem
        max-width: $max-size

        font-family: $first-font
        margin-left: auto
        margin-right: auto

@media screen and (max-width: 1280px)
    body
        box-shadow: none
        section
            padding-top: 0
            margin-top: 0

@media screen and (max-width: 1024px)
    section
        padding-top: 13rem
        margin-top: -13rem

@media screen and (max-width: 768px)
    section
        padding-top: 26rem
        margin-top: -26rem
