@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;300;400;600;800&display=swap')

// Variaveis de fonte

$fonte: 'Chivo', sans-serif


// cores

$first-section-color: #f3f4f6
$second-section-color: #111827
$hover-color: #005555

// medidas
$max-size: 1380px 
