@import url("../abstract/_var");
@import url("../abstract/_var");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  max-width: 1280px;
  font-family: "Quicksand", sans-serif;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0rem 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
body section {
  padding-top: 6.5rem;
  margin-top: -6.5rem;
}

header {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 0rem 1rem 1.2rem rgba(0, 0, 0, 0.12);
  padding: 1rem 0 1rem 0;
  z-index: 1;
  width: 1280px;
}
header nav {
  display: flex;
  flex-flow: row nowrap;
}
header nav .menu {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
  width: 1280px;
  justify-content: space-evenly;
}
header nav .menu li {
  font-size: 1.5rem;
}
header nav .menu li a {
  color: inherit;
}
header nav .menu li a:hover {
  color: #2e2e2e;
  text-shadow: 0rem 0.1rem 0.2rem black;
}

.banner {
  padding-top: 13rem;
}
.banner .container img {
  width: 1280px;
}
.banner .container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  font-family: "Montez", cursive;
  font-size: 3rem;
}

#servicos h2 {
  font-weight: 700;
  font-size: 2.2rem;
  padding: 3.5rem 0rem 1rem 8rem;
}
#servicos .container {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  box-shadow: 0rem 0rem 0.5rem 0.005rem rgba(0, 0, 0, 0.2);
}
#servicos .container img {
  width: 35%;
  border-radius: 1rem;
}
#servicos .container .service h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  padding: 2rem 0 3rem 0;
}
#servicos .container .service ul {
  width: 400px;
  list-style-type: disc;
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}
#servicos .container .service ul li {
  text-align: left;
  font-weight: 500;
  font-size: 1.4rem;
  gap: 5rem;
}
#servicos .reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
}

#equipe .bg {
  background: #EDEDED;
}
#equipe h2 {
  font-weight: 700;
  font-size: 2.2rem;
  padding: 3.5rem 0rem 1rem 8rem;
}
#equipe .container {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#equipe .container .profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#equipe .container .profile img {
  padding: 0 1rem 1rem 1rem;
  border-radius: 1.4rem;
}
#equipe .container .profile .info {
  justify-content: space-evenly;
}
#equipe .container .profile .info .name {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
#equipe .container .profile .info .roles {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#equipe .container .profile .info .roles li {
  padding: 0.2rem;
  font-size: 1.2rem;
}
#equipe .container .profile .info .roles li .contratar {
  margin: 1.8rem;
  padding: 1rem;
  border-radius: 10%;
  background: #3E3E3E;
}
#equipe .container .profile .info .roles li .contratar a {
  color: #FFF;
}
#equipe .container .profile .info .roles li .contratar a:hover {
  text-shadow: 0rem 0.1rem 0.2rem #FFF;
}

#contato h2 {
  font-weight: 700;
  font-size: 2.2rem;
  padding: 3.5rem 0rem 3rem 8rem;
}
#contato .container {
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2rem;
}
#contato .container .footer-col {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  font-size: 1.2rem;
}
#contato .container .footer-col .address, #contato .container .footer-col .tel {
  margin: 1rem 0.1rem;
  padding: 1rem 2rem;
  box-shadow: 0rem 0.1rem 0rem 0.04rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}
#contato .container .footer-col .address i, #contato .container .footer-col .tel i {
  font-size: 2rem;
}
#contato .container .footer-col .button {
  margin: 3.5rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 0rem 0rem 1rem 0.04rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: right;
  align-items: center;
  border-radius: 2rem;
}
#contato .container .footer-col .button i {
  font-size: 2rem;
  color: #25D366;
}
#contato iframe {
  box-shadow: 0rem 0rem 2rem 0.04rem rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #EDEDED;
  color: #000000;
  width: 1280px;
}
footer .container .footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4rem;
}
footer .container .footer-container .footer-col {
  flex-direction: column;
}
footer .container .footer-container .footer-col h4 {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.4rem;
}
footer .container .footer-container .footer-col p {
  margin-top: 0.5rem;
}
footer .container .footer-container .footer-col p i {
  padding-right: 0.5rem;
}
footer .container .footer-container .footer-col .footer-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}
footer .container .footer-container .footer-col .footer-social a {
  color: #000000;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  scale: 1;
}
footer .container .footer-container .footer-col .footer-social a:hover {
  scale: 1.4;
  color: #2e2e2e;
}
footer .container .footer-container .creator {
  display: flex;
  align-items: flex-start;
}
footer .container .footer-container .creator img {
  width: 10%;
}
footer .container .footer-container .creator h4 {
  margin: 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
}
footer .container .footer-container .creator h4 a {
  color: #000000;
}

@media screen and (max-width: 800px) {
  footer .container {
    justify-content: center;
    align-items: center;
  }
  footer .container .footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  footer .container .footer-container .footer-social {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */